export AWS_ACCESS_KEY_ID="YC...F"
export AWS_SECRET_ACCESS_KEY="YC...F"
export AWS_ENDPOINT_URL="https://storage.yandexcloud.net"
export AWS_BUCKET_NAME="sandbox-mfti-2026"
export AWS_TARGET_DIR="dvc_data_dir"
export AWS_REGION="ru-central1"
